<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href='/static/style.css'/>
</head>

<body>

    <section id="fst-container" class="container">
        <h1>Belysning</h1>

        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form id="mainform" action="/light" method="POST" target="dummyframe">

            <div class="colorcontainer">
                <label class="color" for="color">välj färg: </label>
                <input class="color" id="color" name="color" type="color"></input>
            </div>
            <div class="slidercontainer">
                <label class="dimmertext" for="dimmer">dimmer</label>
                <input class="slider" id="dimmer" name="dimmer" type="range" min="1" max="255" value="69"></input>
            </div>
            <input class="btn info" id="submitbutton" type="submit" value="OK"></input>
        </form>
        
        <h1>Chromecast</h1>
        <img src="{{app_image_path}}" alt="App Icon">
        <form id="mainform" action="/sound" method="POST" target="dummyframe">
            <div class="slidercontainer">
                <label class="dimmertext" for="volume">volume</label>
                <input class="slider" id="volume" name="volume" type="range" min="0" max="1000" value="100" onchange="this.form.submit()"></input>
            </div>
        </form>
    </section>
</body>

</html>